/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* служебный цвет текста rgba(255, 255, 255, 0.6) */
/* белый #FFFFFF */
/* акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */
/* цвет фона служебный #2F303A */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --service-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --secondary-font-color: #F5F4FA;
    --service-font-color: #2F303A;
    --white-color: #FFFFFF;
}

/* --- */
/* css for studio main page */
/* --- */

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* убирает отображение значка пункта списка */
.list-item {
    list-style: none;
}

/* убирает подчеркивание ссылки */
.portfolio-link,
.contacts,
.nav-link,
.logo,
.contacts-foter {
    text-decoration: none;
}

/* убирает визуальное отображение заголовков секций */
.hiden-title {
    visibility: hidden
}

/* шапка сайта */
.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.logo {
    color: var(--accent-color);
}

.logo-black {
    color: var(--secondary-text-color);
}

.logo,
.logo-black,
.logo-white {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* навигация по сайту */
.site-nav {

}

.nav-list {

}

.contacts {
    color: var(--primary-text-color);
}

.contacts:hover, .contacts:focus {
    color: var(--accent-color);
}

.nav-link {
    color: var(--secondary-text-color);
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

/* герой */
.hero {
    background-color: var(--service-font-color);
}

.hero-title {
    color: var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-button:hover, .hero-button:focus {
    color: var(--secondary-text-color);
}

/* преимущества компании */
.company-benefits {

}

.title-color {
    color: var(--secondary-text-color);
}

.benefits-name {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-description {
    line-height: 1.7;
}

/* направления деятельности компании */
.company-activities {

}

.activities-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.activities-list {

}

/* наша команда */
.company-team {
    background-color: var(--secondary-font-color);
}

.company-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.specialty {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* подвал сайта */
.footer {
    background-color: var(--service-font-color);
}

.address {
    line-height: 1.7;
    font-style: normal;
}

.logo-white {
    color: white;
}

.post-address {
    color: white;
}

.contacts-foter {
    color: var(--service-text-color);
}

.contacts-foter:hover, .contacts-foter:focus {
    color: var(--accent-color);
}

/* --- */
/* css for poprtfolio page */
/* --- */

/* фильтр-кнопки */
.filter-button {
    background-color: var(--secondary-font-color);
    color: var(--secondary-text-color);
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

/* перечень выполненных проектов */
.filter-button:hover, .filter-button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.portfolio-link {
    color: var(--secondary-text-color);
}

.portfolio-link:hover, .portfolio-link:focus {
    color: var(--accent-color);
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-description {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}